@use "variables";

.titleBlock {
  height: calc(100vh - 88px);

  @media screen and (max-width: 768px) {
    height: calc(100vh - 64px);
  }

  @media screen and (max-width: 375px) {
    height: calc(100vh - 48px);
  }

  &__container {
    height: 100%;
  }

  &__inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__top {
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin-bottom: 80px;
    }
  }

  &__title {
    font-size: 92px;
    line-height: 66px;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;

    @media screen and (max-width: 768px) {
      max-width: 699px;
      font-size: 76px;
      line-height: 68.4px;
      max-height: 116px;
    }

    span {
      color: variables.$accent;
    }
  }

  &__subTitles {
    display: flex;
    justify-content: center;
  }

  &__subTitle {
    color: variables.$primary;
    margin-right: 40px;

    &:last-of-type {
      margin-right: 0;
    }

    &_accent {
      color: variables.$accent;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    max-width: 472px;
    color: variables.$primary;
    font-size: 20px;
    line-height: 32px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
      max-width: 336px;
    }

    &:first-of-type {
      margin-right: 38px;

      @media screen and (max-width: 768px) {
        margin-right: 16px;
      }
    }

    span {
      color: variables.$accent;
    }
  }
}
