@use "variables";

.imagesBlock {
  &__inner {
    position: relative;
    overflow: auto;
    padding-top: 100px;
    margin-top: -100px;
    padding-right: 40px;
    margin-right: -40px;

    height: calc(100vh - 88px);

    @media screen and (max-width: 768px) {
      height: calc(100vh - 64px);
      margin-top: -120px;
    }

    @media screen and (max-width: 375px) {
      height: calc(100vh - 48px);
    }

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
  }

  &__quoteMarks {
    position: absolute;
    top: 100px;
    right: 11%;
    translate: -11% -55%;
    z-index: 1;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  &__textBlock {
    max-width: 282px;
    margin-left: 56px;
  }

  &__text {
    margin-bottom: 32px;

    @media screen and (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  &__quote {
    position: relative;

    &Author {
      color: variables.$accent;
      margin-bottom: 12px;
      font-weight: 500;
    }

    &Cursor {
      position: absolute;
      bottom: -7px;
      right: 6px;
      translate: 50% 100%;
      z-index: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__imgWrapper {
    display: flex;
    position: relative;
    font-size: 0;
    max-width: 680px;

    &_bottom {
      max-width: 478px;

      &:first-of-type {
        margin-right: 64px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__imgText {
    line-height: 11px;
    color: variables.$teritrary;
    font-size: 16px;
    position: absolute;
    bottom: -16px;
    translate: 0 100%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
