@use "variables";

.imagesBlock {
  top: 88px;
  position: relative;

  &__inner {
    position: relative;
  }

  &__quoteMarks {
    position: absolute;
    top: 0;
    right: 7%;
    translate: -11% -55%;
    z-index: 1;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  &__textBlock {
    max-width: 282px;
    margin-left: 56px;
  }

  &__text {
    margin-bottom: 32px;

    @media screen and (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  &__quote {
    position: relative;

    &Author {
      color: variables.$accent;
      margin-bottom: 12px;
      font-weight: 500;
    }

    &Cursor {
      position: absolute;
      bottom: -7px;
      right: 6px;
      translate: 50% 100%;
      z-index: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__imgWrapper {
    background-color: transparent;
    position: relative;
    font-size: 0;
    max-width: 680px;
    line-height: 0;

    &_bottom {
      margin-bottom: 50px;
      img {
        max-width: 478px;
      }

      &:first-of-type {
        margin-right: 64px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__imgText {
    position: absolute;
    line-height: 11px;
    color: variables.$teritrary;
    font-size: 16px;
    bottom: -16px;
    translate: 0 100%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}
